.git
.github
.pnpm-store
node_modules
**/node_modules
**/dist
**/build
**/.dart_tool
**/.flutter-plugins
**/.flutter-plugins-dependencies
apps/mobile

.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.staging.example

coverage
tmp
*.log
.DS_Store
